[Unit]
Description=Pull diario del docker de praxya

[Timer]
OnBootSec=15min
OnCalendar=*-*-* 19:30:00
Persistent=true

[Install]
WantedBy=timers.target
